@import "css/fonts.css";

*{
	box-sizing: border-box;
	padding:0;
	margin: 0;
	font-family: 'Quicksand Bold', sans-serif;
}
.header-main a img{
	transition: all 0.3s;
}
.header-main a img:hover{
	opacity: 0.7;
}
.header-nav ul a{
	transition: all 0.3s;
}
.header-nav ul a:hover{
	opacity: 0.7;
}


@media and (max-width: 600px){
	.content,
	.section-top-inner{
		max-width: 1170px;
	}
	
}
@media (max-width: 410px) {
	.header-main{
		text-align: center;
	}
	.header-main .boot{
		float: none;
	}
	.header-main .header-nav a{
		padding-right: 35px;
	}
}
.header{
	background: url(images/header-bg.jpg) center no-repeat;
	background-size: cover;
	height:100vh;
	background-color: rgba(0,0,0, .5);
	color: white;
	position: relative;

}

.header-main{
	max-width: 1152px;
	margin:0 auto;
}
.boot{
	display: inline-block;
	margin-top: 38px;
	float: left;
}

.header-nav{
	float: right;
	margin-top: 52px;
}
.header-nav a{
	display: inline-block;
	text-decoration: none;
	color: white;
	list-style-type: none;
	padding-right: 64px;
	font-family: 'Quicksand Bold', sans-serif;
	font-size: 18px;	
}

.header-nav a:nth-child(2){
	padding-right: 64px;
}
.header-top{
	display: inline-block;
	margin-top: 8px;
	width: 100%;

}
.header-content{
	display: inline-block;
	text-align: center;
	font-family: 'Quicksand Bold', sans-serif;
	color: white;
	position: relative;
	overflow:hidden;
	margin-top: 110px;
	
}




.header-content h1{
	display: inline-block;
	font-size: 60px;
	letter-spacing: 3px;
	z-index: 0;
	font-family: 'quicksandbold';

}
.header-content p{
	font-size: 20px;
	display: inline-block;
	position: relative;
	font-family: 'quicksandregular';
	max-width: 580px;
	margin-top: 19px;
}

.header-content p::after{
	background-image: url(images/header-arrow.png);
	bottom:-260px;
	left: 48%;
	content: " ";
	display: block;
	width: 35px;
	height: 22px;
	position: absolute;
	overflow:hidden;
}
.section-top-width{
	background-color: #f5f6f7;
	max-width: 1150px;
	margin: 0 auto;
}
.section-top{
	background-color: white;
	width: 100%;


}
.section-top-inner{
	height: 146px;
	max-width: 1152px;
	margin:0 auto;
	background-color: #f5f6f7;
}
.left-bird{
	margin-top:60px;
	display: inline-block;
	float: left;
	margin-right: 40px;
}
.middle-bird{
	margin-top:60px;
	display: inline-block;
	float: left;
	margin-right: 40px;
}
.right-bird{
	margin-top:60px;
	display: inline-block;
	float: left;
}

label{
	position: relative;
}
input {
	display: none;
}

label:before{
	content:"";
	display: inline-block;
	height: 21px;
	width: 21px;
	border: 2px solid #aa9b77;
	vertical-align: middle;
	margin-right: 10px;
}

input:checked + label:after{
	content:"";
	position: absolute;
	top: 4px;
	left: 6px;
	display: inline-block;
	height: 15px;
	width: 15px;
	background:url(images/bird.png)no-repeat;
	vertical-align: middle;
	background-size: 100%;
}

.button{

}
.button a{
	padding: 21px 30px;
	background-color: #aa9b77;
	float: right;
	margin-top: 44px;
	text-decoration: none;
	font-size: 18px;
	color: #fff;
	border-radius: 5px;
	border:1px solid #a39677 ;
	transition: all 0.4s;
	border: 2px solid transparent;
}
.button a:hover{
	border: 2px solid #aa9b77; 
	box-shadow: inset 0 0 20px;
	color: #aa9b77;
	background-color: #fff;
}

.content{
	width: 100%;
	margin:0 auto;
}
@media (max-width:900px) {
	.content .content-men:before{
		display: none;
	}
	.content .content-women:before{
		display: none;
	}
}
@media (max-width: 621px) {
	.button {
		display: inline-block;
	}
	.left-bird,.middle-bird,.right-bird{
		margin-right: 10px;
		 margin-top: 15px;
		 clear: right;
		 margin-left: 1px;
	}
	.header-content h1{
		font-size: 35px;
	}
	.button a{
		padding: 15px 30px;
	}
	.section-top-inner{
		text-align: center;
	}

    
}
@media (max-width: 600px){
	.content-women{
		height: 0;
	}
}
.content-men{
	max-width: 1152px;
	overflow:hidden;
	position: relative;
	padding-top: 110px;
	padding-left: 32px;
	padding-right: 32px;
	background-color: white;
	margin: 0 auto;
}
.content-men:before{
	content: "";
	position: absolute;
	width: 94.3576%;
	left: 32px;
	height: 2px;
	background-color: #ccc;
	display: block;
	top: 95px;
}
.content-men-title {
	font-size: 20px;
	text-transform: uppercase;
	display: block;
	padding-right: 50px;
	position: absolute;
	top: 83px;
	left: 32px;
	background-color: #fff;
}

.header-shirt{
	width: 100%;
	height: 37px;
	position: relative;
	display: inline-block;
}
.men-shirt{
	width: 100%;
	height: 366px;
	background-color: #f5f6f7;
	border: 6px solid  transparent;
	transition: all .3s;
}
.men-shirt:hover{
		border: 6px solid #aa9b77;
}
.men-shirt .first-lap{
	padding-top: 4px;
}
.products-row{
	list-style-type: none;
	margin-right: -32px;
	margin-left: -32px;
	font-size: 0;
	
}
.product-wrapper{
	display: inline-block;
	margin-right: 32px;
	margin-left: 32px;
	width: 320px;
	font-size: 16px;
	text-align: center;	
}
.product-wrapper:last-child{
	margin-right: 0;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.menu{
	display: inline-block;
	margin: 25px 0 21px 0;
	position: absolute;
	top: -16px;
	left: 10px;
	max-width: 60px;
	float: left;
	
}

.menu a{
	color: #424242;
	display:inline-block;
	width: 60px;
	transition: all 0.3s;
}

.menu a:hover{
	background-color: #666;
	padding: 3px 0 3px 5px;
}
.menu-list{
	position: relative;
	display: inline-block;
}
.drop{
	position: absolute;
	width: 100%;
	left: 0;
	opacity: 0;
	top: -9999em;
}

.menu-list:hover .drop{
	opacity: 1;
	top:100%;
}

.t-shirt{
	padding-top: 50px;
}
.t-shirt img{
	height: 189px;
	width: auto;

}
@media (max-width: 333px) {
	.content .men-shirt .header-shirt .first-lap{
		padding-left: 120px;
	}
}

.first-lap{
	padding-left: 180px;
	margin-top: 4px;
}

.bottom-t-shirt{
	padding: 30px 20px 20px 20px;
}
.product-description{
	width: auto;
	vertical-align: middle;
	color: #aa9b77;
}
.product-description span{
	display: inline-block;
}
.name-t-shirt{
	float: left;
	color: #aa9b77;
}

.name-t-shirt2{
	float: left;
	color: #aa9b77;
}
.name-t-shirt3{
	float: left;
	color: #aa9b77;
}

.price{
	color: #8a8a8a;
	float: right;
}
.slick-slide img {
	display: inline-block;
}
.nav-arrow1{
	background-color: white;
	left: 96.5%;
	width: 13px;
	height: 14px;
	position: relative;	
	margin-bottom: 16px;
	transition: all 0.3s;
	cursor: pointer;
}
.nav-arrow1:hover{
	transform: scale(1.3);
}

.nav-arrow2{
	background-color: white;
	left: 97%;
	width: 13px;
	height: 14px;
	position: relative;
	margin-bottom: 16px;
	margin-top: 45px;
	transition: all 0.3s;
	cursor: pointer;
}
.nav-arrow2:hover{
	transform: scale(1.3);
}
.content-women{
	max-width: 1152px;
	
	position: relative;
	padding-top: 110px;
	padding-left: 32px;
	padding-right: 32px;
	background-color: white;
	margin: 0 auto;
	padding-bottom: 100px;
}
.content-men-title2 {
	font-size: 20px;
	text-transform: uppercase;
	display: block;
	padding-left: 50px;
	position: absolute;
	top: 83px;
	right:32px;
	background-color: #fff;
	
}
.content-women:before{
	content: "";
	position: absolute;
	width: 94.3576%;
	left: 32px;
	height: 2px;
	background-color: #ccc;
	display: block;
	top: 95px;
}


.women-one{
	background-color: white;
	left: 0;
	width: 13px;
	height: 14px;
	position: relative;	
	margin-bottom: 16px;
	margin-top: 50px;
	margin-bottom: 16px;
	transition: all 0.3s;
	cursor: pointer;
}
.women-one:hover{
	transform: scale(1.3);
}

.products-row .slick-initialized .slick-slider .slick-list draggable .slick-track{
	width: 1150px;
}
.women-two{
	background-color: white;
	left: 0.6%;
	width: 13px;
	height: 14px;
	position: relative;
	margin-bottom: 16px;
	transition: all 0.3s;
	cursor: pointer;

}
.women-two:hover{
	transform: scale(1.3);
}

.content-about{
	max-width: 1152px;
	margin:0 auto;
	background-color: #aa9b77;
	padding-bottom: 135px;
}

.content-about-main{
	margin:0 auto;
	
	background-color: #aa9b77;
	width: 100%;
}

.top-word{
	font-size: 20px;
	text-transform: uppercase;
	padding: 0 11px 0 11px;
	color: #837659;
	position: absolute;
	left: 41%;
	top: -15px;
	background-color: #aa9b77;

}
.inner-word{
	max-width: 714px;
	height: 254px;
	border: 3px solid #918363;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 70px;

}
.inner-word p{
	padding: 85px 117px 90px 117px;
font-family: 'quicksandbold';
	text-align: center;
	color: #424242;
	font-size: 14px;
	line-height: 21px;
}
@media  (max-width: 590px){
	.inner-word p{
		    padding: 20px;
		    font-size: 18px;
	}
	.inner-word{
		    margin: 0 5px;
		    height: 180px;
	}
	.content{
		height: 980px;
	}
}
@media (max-width: 414px) {
	.top-word{
      left: 32%;
	}
}

.twitter-top{
	width: 100%;
	background-color: #535253;
}
.twitter-inner{
	max-width: 1152px;
	margin:0 auto;
}
.twitter-inner img{
	display: inline-block;
	padding: 19px 0 30px 0;

}
.twitter-sub{
	position: absolute;
	display: inline-block;
	padding: 30px 0 30px 18px;
	font-size: 16px;
	font-family: 'quicksandbold';
	color: white;
}
.bottom{
	width: 100%;
	height: 352px;
	background-color: #424242;
	color: #fff;
}
@media (max-width: 600px) {
	.bottom-main .left-bottom{
		text-align: center;
		padding: 0 10px;
		width: 100%;
		margin: 0 auto;
	}
	.bottom-main{
		overflow: hidden;
	}
	.bottom-main .right-bottom{
		text-align: center;
		padding-right: 10px;

	}
	.bottom-main .left-bottom h1{
	font-size: 30px;
     }
     .bottom-main .left-bottom p{
     	font-size: 16px;
     }
}

.bottom-main{
	max-width:1152px;
	height: 352px;
	background-color: #424242;
	margin: 0 auto;
}
.left-bottom{
	font-family: 'quicksandbold';
	width: 320px;
	float: left;
	margin-top: 107px;
}
.left-bottom h1{
	font-size: 20px;
}
.left-bottom p{
	font-size: 10px;
	line-height: 20px;
	padding-top: 20px;
	height: 20px;
}
.right-bottom {
	float: right;
	margin-top: 155px;
	font-family: 'quicksandbold';
}
.right-bottom a:after{
	content: "";
	display: inline-block;
	width: 2px;
	height: 13px;
	background-color: #625d51;
	margin-left: 5px;
	vertical-align: middle;
}
.right-bottom a{
	font-size: 14px;
	text-transform: uppercase;
	transition: all 0.3s;
	color: #fff;
}

.right-bottom a:hover{
	opacity: 0.7;
	padding-right: 5px;
}
.right-bottom a:last-child:after{
	display: none;
}
.right-bottom h2{
	margin-top: 15px;
	font-size: 18px;
	float: right;
}

@media (max-width: 335px) {
	.header-shirt.header-main{
		    padding-left: 160px;
	}
}